Options -MultiViews
DirectoryIndex disabled
RewriteEngine On
RewriteRule ^$ http://127.0.0.1:35111/ [P,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ http://127.0.0.1:35111/$1 [P,L]
RewriteRule ^ index.html [QSA,L]
