@import '../../style/variables';

.questionContainer {
    background-color: $gray200;
    border-radius: 1rem;
}

.containerColor {
    background-color: $gray100;
}

.leftMargin3 {
    margin-left: 3rem;
}

.mobileMargin {
    @media only screen and (max-width: 992px) {
        margin: 0 !important;
    }
}
