@import '../../style/variables';

.horizontalCard {
    border-radius: $card-border-radius;
    border: 1px solid $gray300;
}

.cardImage {
    border-radius: $card-border-radius;
}

.cardButton {
    color: $red500;
    text-decoration: none;
    padding-left: 0;
}
