@import '../../style/variables';
@import '../../style/variables';

.map {
    height: 760px;
    width: 100%;
    border-radius: 16px;
    border: 1px solid $gray300;
}

.horizontalCard {
    border-radius: $card-border-radius;
    border: 1px solid $gray300;
}

.cardImage {
    border-radius: $card-border-radius;
}

.cardButton {
    color: $red500;
    text-decoration: none;
    padding-left: 0;
}
