@import '../../style/variables';

.heroImg {
    height: 600px;
    width: 100%;
    background-color: $gray100;

    @media only screen and (max-width: 992px) {
        height: 400px;
    }
}

.subHeading {
    color: $gray600;
}

.bgColor {
    background-color: $gray100;
}
