@import '../../style//variables';

.offerWrapper {
    // height: 512px;
    background-color: $ecru500;
}

.flexContainer {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.subtitle {
    color: $gray600;
}

.animation {
    width: 611px;
    height: 512px;
    @media only screen and (min-width: 993px) and (max-width: 1200px) {
        width: 427px;
        height: 358px;
    }
}

@media only screen and (max-width: 992px) {
    .animation {
        width: 100%;
    }

    .button {
        margin-bottom: 64px;
    }
}

.button {
    margin-top: 2rem;
}
