@import '../../style/variables';

.navbar {
    background-color: $gray100;
}

.logo {
    height: 48px;
    width: 48px;
    margin-right: 0.8rem;
}

.navBody {
    justify-content: space-evenly;
}

.link {
    color: $gray800;
}

.navLink {
    text-align: center;
}

.mobileNav {
    @media only screen and (max-width: 992px) {
        display: flex;
        justify-content: center;
    }
}

.navBtn {
    @media only screen and (min-width: 992px) {
        float: right;
    }
}
