// Color scheme

// Ecru
$ecru500: #ffe5da;
$ecru700: #f5d1c1;

// Gray
$gray600: #696969;

$h1-font-size: 4rem;
$h2-font-size: 2.25rem;
$h3-font-size: 1.875rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1.25rem;

$btn-border-radius: 32px;

$card-border-color: transparent;
